{% extends 'base.html' %}
{% load static %}
{% block title %}登录-四象生八卦{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'account/css/login.css' %}">
{% endblock %}
{% block body %}
<div class="logo">
    <!-- <div onclick="location.href='/docs/'">LOGO设计中</div> -->
</div>
<h1>四象生八卦</h1>
<div class="form">
    <form method="post">
        {% csrf_token %}
        <label id="name">
            <span>用户名：</span> 
            <input type="text" autocomplete="off" name="username" required maxlength="6">
        </label>
        <label id="password">
            <span><span>密码：</span><a href="{% url 'account:passwordreset' %}">忘记用户名？忘记密码?</a></span>
            <input type="password" autocomplete="off" name="password" required maxlength="12">
        </label>
        <button>登&nbsp;&nbsp;录</button>
    </form>
</div>
<p class="create">新用户？<a href="{% url 'account:registry' %}">注册新账号</a></p>
<footer>
    <ul>
        <li><a href="{% url 'docs:index' %}">接口文档</a></li>
        <li><a href="{% url 'blog:index' %}">交流区</a></li>
    </ul>
</footer>
{% endblock %}
