{% extends 'base.html' %}
{% load static %}
{% block title %}忘记密码-四象生八卦{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'account/css/passwordreset.css' %}">
{% endblock %}
{% block script %}
<script src="{% static 'account/js/passwordreset.js' %}"></script>
{% endblock %}
{% block body %}
<header>
    <!-- <div onclick="location.href='/docs/'">LOGO设计中</div> -->
</header>
<main>
    <h1>重置密码<a href="{% url 'docs:index' %}" style="font-size: 16px;">返回接口文档</a></h1>
    <div>
        <form method="dialog">
            {% csrf_token %}
            <label>
                <span>请输入注册账户时绑定的邮箱，稍后系统将发送重置密码的链接。</span>
                <input type="email" autocomplete="off" placeholder="输入邮箱地址" name="email" required>
            </label>
            <button type="button" id="send"><span id="info">点击验证邮箱</span><span id="time"></span></button>
        </form>
    </div>
</main>
<div class="msg-back">
    <div class="error">
        <div>错误提示：</div>
        <div class="error-msg"></div>
        <button id="btn-error-msg" type="button">确认</button>
    </div>
</div>
{% endblock %}
