*{margin: 0;padding: 0;box-sizing: border-box;color: #d2dce7;}
.red{color: red;}.green{color: green;}.yellow{color: yellow;}.blue{color: blue;}.black{color: black;}
.blod400{font-weight: 400;}.blod700{font-weight: 700;}.italic{font-style: italic;}
.fontsize18{font-size: 12px;}.fontsize18{font-size: 18px;}.fontsize24{font-size: 24px;}.fontsize32{font-size: 32px;}
.underline{text-decoration: underline;}.linethrough{text-decoration: line-through;}.linedouble{border-bottom: 6px double black;}
.center{text-align: center;}.left{text-align: left;}.right{text-align: right;}
.borderbottom{border-bottom: 2px black solid;padding-bottom: 12px;margin-bottom: 12px;}.borderall{border: 2px black solid;padding-bottom: 12px;}
main{padding: 12px 24px;margin: 6px;}
p,div.common{padding: 6px; margin: 6px;}
div.info{padding: 6px; margin: 6px;border: 5px solid green;}
div.error{padding: 6px; margin: 6px;border: 5px solid red;}
div.list{padding: 6px; margin: 6px;border: 1px solid black;}
ol,ul{list-style: inside;padding: 2px 24px;}
ol{list-style-type: decimal;}ol>li{margin-left: 2em;}
p.question{color: blue;font-size: 18px;font-weight: 700;}
p.answer{text-indent: 2em;margin: 1px;padding: 1px;}