main {
  flex: 1;
  overflow: auto;
  height: 100%;
  margin-bottom: 69px;
}
main > div {
  width: 90%;
  margin: 36px auto;
  display: flex;
  flex-wrap: wrap;
}
main > div > section {
  border: 1px solid black;
  min-width: 180px;
  max-width: 280px;
  border-radius: 10px;
  margin: 12px;
  display: flex;
  flex-direction: column;
}
main > div > section > h3 {
  color: #ffffff;
  padding: 12px;
  background: #50ace6;
  text-align: center;
  font-size: 24px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}
main > div > section > h3 > a {
  color: #ffffff;
}
main > div > section > h3 > a:hover {
  color: #000000;
}
main > div > section > h3 > a > i {
  margin-left: 12px;
}
main > div > section > h3 > span {
  position: absolute;
  width: 20px;
  height: 20px;
  background: yellow;
  top: 0;
  left: 0;
  font-size: 12px;
  color: #000000;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main > div > section > p {
  flex: 1;
  padding: 12px;
  color: #000000;
  background: #ddd6d6;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
main > section {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}
main > section > div {
  height: 250px;
  width: 300px;
  background: #ffffff;
  border-radius: 5px;
}
main > section > div > h3 {
  text-align: center;
  border-bottom: black 1px solid;
  position: relative;
  padding: 8px 0;
}
main > section > div > h3 > span {
  position: absolute;
  right: 8px;
  top: 0;
}
main > section > div > h3 > span:hover {
  cursor: pointer;
  color: #50ace6;
}
main > section > div > form > label {
  display: block;
  margin: 12px 3px;
}
main > section > div > form > label > span {
  display: block;
  margin-bottom: 6px;
  font-weight: 800;
}
main > section > div > form > label > input {
  display: block;
  border: #000000 1px solid;
  width: 100%;
  height: 32px;
  font-size: 20px;
  padding: 0 6px;
}
main > section > div > form > label > input::placeholder {
  font-size: 14px;
  font-weight: 100;
}
main > section > div > form > div {
  text-align: center;
}
main > section > div > form > div > button {
  border-radius: 5px;
  border: 1px solid black;
  padding: 12px 24px;
}
main > section > div > form > div > button:hover {
  cursor: pointer;
  background: black;
  color: #ffffff;
}
body {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
body > footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
