.info-mormal {
  background: rgba(255, 255, 0, 0.6);
}
.info-important {
  background: rgba(255, 165, 0, 0.6);
}
.info-urgent {
  background: rgba(255, 0, 0, 0.6);
}
main > div {
  display: flex;
  flex-wrap: wrap;
  margin: 24px 12px;
  position: relative;
}
main > div.main-1 > div {
  position: relative;
  margin: 12px;
  padding: 12px;
  flex: 500px 1;
  display: flex;
  flex-direction: column;
  background: rgba(245, 245, 245, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
main > div.main-1 > div > nav {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background: #40a3d1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-bottom-right-radius: 10px;
}
main > div.main-1 > div > p {
  text-align: right;
}
main > div.main-1 > div > p > a {
  color: #333e48;
  font-weight: 800;
}
main > div.main-1 > div > p > a:hover {
  color: #f79568;
}
main > div.main-1 > div > h2 {
  padding: 10px;
  color: #333e48;
  border-bottom: 3px solid #e5eceb;
}
main > div.main-1 > div > div {
  padding: 10px;
  flex: 1;
}
main > div.main-1 > div > div > article {
  margin: 8px 0;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(64, 163, 209, 0.3);
  display: flex;
  align-items: center;
}
main > div.main-1 > div > div > article::before {
  content: '>>>';
  color: #40a3d1;
  margin-right: 12px;
}
main > div.main-1 > div > div > article > a {
  flex: 1;
  color: #333e48;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 12px;
  word-break: break-all;
  font-weight: 800;
}
main > div.main-1 > div > div > article > a:hover {
  color: #40a3d1;
}
main > div.main-1 > div > div > article:last-of-type {
  border: none;
}
main > div.main-1 > div.good-title > h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main > div.main-1 > div.good-title > h2 > span {
  color: goldenrod;
}
main > div.main-1 > div.good-title > h2 > span::before {
  content: '#';
  margin-right: 12px;
  color: #f79568;
  font-size: 800;
}
main > div.main-1 > div.good-title > h2 > form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main > div.main-1 > div.good-title > h2 > form > input {
  border: 1px black solid;
  height: 30px;
  padding: 3px;
  padding-left: 6px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 16px;
}
main > div.main-1 > div.good-title > h2 > form > input::placeholder {
  font-weight: 100;
}
main > div.main-1 > div.good-title > h2 > form > input:focus::placeholder {
  font-weight: 800;
}
main > div.main-1 > div.good-title > h2 > form > button {
  height: 30px;
  background: #40a3d1;
  padding: 3px 6px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #ffffff;
}
main > div.main-1 > div.good-title > h2 > form > button:hover {
  cursor: pointer;
}
main > div.main-1 > div.recent > h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main > div.main-1 > div.recent > h2 > span:first-of-type::before {
  content: '#';
  margin-right: 12px;
  color: #f79568;
  font-weight: 800;
}
main > div.main-1 > div.recent > h2 > span:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
}
main > div.main-1 > div.recent > h2 > span:last-of-type > button {
  color: #40a3d1;
  font-size: 15px;
  margin: 0 5px;
}
main > div.main-1 > div.recent > h2 > span:last-of-type > button:hover {
  cursor: pointer;
  color: #f79568;
  font-weight: 800;
}
main > div.main-1 > div.recent > h2 > span:last-of-type > button:last-of-type {
  color: #f79568;
  font-weight: 800;
}
main > div.main-2 > div {
  position: relative;
  margin: 12px;
  padding: 12px;
  flex: 500px 1;
  display: flex;
  flex-direction: column;
  background: rgba(245, 245, 245, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
main > div.main-2 > div > nav {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background: #40a3d1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-bottom-right-radius: 10px;
}
main > div.main-2 > div > p {
  text-align: right;
}
main > div.main-2 > div > p > a {
  color: #333e48;
  font-weight: 800;
}
main > div.main-2 > div > p > a:hover {
  color: #f79568;
}
main > div.main-2 > div > h2 {
  padding: 10px;
  color: #333e48;
  border-bottom: 3px solid #e5eceb;
}
main > div.main-2 > div > div {
  padding: 10px;
}
main > div.main-2 > div > section {
  flex: 1;
}
main > div.main-2 > div.plugin-docs > h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main > div.main-2 > div.plugin-docs > h2 > span::before {
  content: '#';
  margin-right: 12px;
  color: #f79568;
  font-size: 800;
}
main > div.main-2 > div.plugin-docs > h2 > a {
  font-size: 16px;
  color: #40a3d1;
}
main > div.main-2 > div.plugin-docs > h2 > a:hover {
  color: #f79568;
}
main > div.main-2 > div.plugin-docs > div {
  display: flex;
  flex-wrap: wrap;
}
main > div.main-2 > div.plugin-docs > div > a {
  margin: 6px 12px;
  padding: 6px;
  border-radius: 5px;
  background: #333e48;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #ffffff;
}
main > div.main-2 > div.plugin-docs > div > a:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: inherit;
  color: #333e48;
}
main > div.main-2 > div.notices > h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main > div.main-2 > div.notices > h2 > span:first-of-type::before {
  content: '#';
  margin-right: 12px;
  color: #f79568;
  font-size: 800;
}
main > div.main-2 > div.notices > h2 > span:first-of-type::after {
  content: '（仅显示最新的3条公告）';
  font-size: 12px;
  margin-left: 12px;
}
main > div.main-2 > div.notices > h2 > span:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
}
main > div.main-2 > div.notices > h2 > span:last-of-type > button {
  color: #40a3d1;
  font-size: 15px;
  margin: 0 5px;
}
main > div.main-2 > div.notices > h2 > span:last-of-type > button:hover {
  cursor: pointer;
  color: #f79568;
  font-weight: 800;
}
main > div.main-2 > div.notices > h2 > span:last-of-type > button:last-of-type {
  color: #f79568;
  font-weight: 800;
}
main > div.main-2 > div.notices > div > div {
  margin: 6px 0;
  padding: 6px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(64, 163, 209, 0.3);
}
main > div.main-2 > div.notices > div > div > div {
  flex: 1;
  margin: 2px 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}
main > div.main-2 > div.notices > div > div > div > span {
  margin-right: 12px;
  padding: 3px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 800;
  border: rgba(0, 0, 0, 0.2) 1px solid;
}
main > div.main-2 > div.notices > div > div > div > a {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  padding-right: 12px;
  font-weight: 800;
}
main > div.main-2 > div.notices > div > div > div > a:hover {
  cursor: pointer;
  color: #f79568;
}
main > div.main-2 > div.notices > div > div:last-of-type {
  border-bottom: none;
}
div.notice-show {
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
}
div.notice-show > article {
  margin-top: 36px;
  height: 300px;
  width: 400px;
  color: #ffffff;
}
div.notice-show > article > h3 {
  font-size: 36px;
  padding: 12px 0;
  margin: 12px 0;
  margin-bottom: 36px;
  border-bottom: 3px solid yellow;
}
div.notice-show > article > p {
  text-indent: 2em;
  line-height: 1.8;
  font-size: 18px;
  word-break: break-all;
}
div.notice-show > article > p:last-of-type {
  color: yellow;
  text-align: right;
  margin-top: 55px;
}
